.card-body{
    padding: 0.25rem;
}

/* pozycje */

.cardimage.cardleft{
    width: 40%;
    float: left;
}
.cardimage.cardright{
    width: 40%;
    float: right;
}

.cardright.carddesc{
    width: 57%;
    float: right;
}
.cardleft.carddesc{
    width: 57%;
    float: left;
}


.cardimage{
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    height: 100%;
}

.cardline{
    float: left;
    border-left:2px solid gray; 
    height: 100%; 
    width: 0;
    margin-left: 1%;
    text-align: center;
    margin-right: 1%;
}

.carddesc{
}

.card-body:after{
    content:'';
    display:block;
    clear:both;
}



.carddesc .desc{
    margin-bottom: 55px;
}
.pricebuyframe{
    position: relative;
    height: calc(100% + 8px);
    min-height: 100%;
}

.pricebuy {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.pricebuy .price{
    display:inline;
    float:left;
    margin-left: 8px;
}
.pricebuy .btn{
    display:inline;
    float:right;
    margin-top: 6px;
    margin-right: 8px;
}
